.logo {
  background-image: url('/images/crappy-logo.png');
  background-repeat: no-repeat;
  width: 630px;
  height: 430px;
  overflow: hidden;
}


.logo input {
  font-size: 18px;
  color: #333;
  /* this is stupid and ugly */
  margin-top: 250px;
}

.project_tile {
  padding: 10px;
  clear: both;
}

.pull_request_tile {
  width: 300px;
  height: 75px;
  border: 1px solid #cecece;
  color: #333;
  float: left;
}

/* Sadness Levels {{{ */
.sadness_low {
  background-color: green;
}
.sadness_medium {
  background-color: yellow;
}
.sadness_high {
  background-color: pink;
}
.sadness_veryhigh {
  background-color: red;
}
.sadness_bug {
}
/* }}} */


