%html
  %head
    %link{:media => 'screen',
          :rel => 'stylesheet',
          :href => '/css/despair.css'}
    %title
      Git of Despair
  %body
    %center
      %div.logo
        %form{:onsubmit => 'window.location=this.repo.value; return false;'}
          %input{:type => 'text',
                 :name => 'repo',
                 :size => 50,
                 :placeholder => 'Enter a username or username/reponame'}
    %br/
    %br/
    How many stale pull requests does your project have? How long have pull requests be mired in a state of limbo. a pit of despair?
    %br/
    %br/
    %em
      Note: the project page currently breaks if you do not have any pull requests.
